{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">

        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in history %}
            <tr>
                <th class="text-start">{{ stock.symbol }}</th>
                <th class="text-end">{{ stock.shares }}</th>
                <th class="text-end">${{ stock.price }}</th>
                <th class="text-end">{{ stock.date }}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}